.TitleWrapper{
    width: 100%;
    padding: 5% 25%;
    background: linear-gradient(rgba(5,7,12,0.5),rgba(5,7,12,0.5)), url("..\\img\\fondoForo.jpg");
    background-size: cover;                  
    background-repeat: no-repeat;
    background-position: center center;
}

.TitleWrapper h2{
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    background-color: #eb4d4b;
    color: #ffffff;
    margin: 5% 15%;
    border-radius: 5px;
    font-size: 300%;
    
}

.TitleWrapper p{
    color: aliceblue;
    font-family: 'Dosis', sans-serif;
    font-size: 150%;
}

.ChatWrapper{
   width: 80%;
   margin: 2% 10%;
}

.ChatWrapper h3{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    color: #ff3838;
}

.ChatCard{
    margin:  0% 1%;
    -webkit-box-shadow: -1px 2px 17px -3px #000000; 
    box-shadow: -1px 2px 17px -3px #000000;
}

.ChatCard h5{
    font-family: 'Oswald', sans-serif;
    font-size: 150%;
}

.ChatCard p{
    font-family: 'Dosis', sans-serif;
}