#fondo{
    background: linear-gradient(rgba(5,7,12,0.5),rgba(5,7,12,0.5)), url("..\\img\\imagenfondo.png");
    background-position: center;
    background-size: cover;
}

.newsIMG img{
    width: 100%;
    height: 15vw;
    object-fit: cover; 
}