{% extends 'base.html' %} 
{% load static %}
{% block cssBlock %} <link rel="Stylesheet" type="text/css" href="{% static 'css/acerca_de.css' %}" /> {% endblock %}
{% block title %} Acerca de {% endblock %} 
{% block seccion %} ACERCA DE {% endblock %} 
{% block content %}
<link href="..static/css/acerca_de.css" rel="stylesheet">
<style>
  .rounded-4 { border-radius: .5rem; }
  .rounded-5 { border-radius: 1rem; }
    
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
    
  .card-cover {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
  }
  
</style>
<body id=fondo>
    <div class="container px-4 py-5" id="custom-cards">
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('..\\static\\img\\unsplash-photo-1.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="display-6 lh-1 fw-bold">¿Quienes Somos?</h2>
                <p class="mt-5 display-6 lh-1 fw-bold fs-4"> somos un grupo de estudiantes de la UTFSM cursando introducción a la ingeniería durante el segundo semestre del 2021.</p>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('..\\static\\img\\1.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="display-6 lh-1 fw-bold">¿Que es Warming Axis?</h2>   
                <p class="mt-5 display-6 lh-1 fw-bold fs-4">Warming Axis es un sitio web que nacio de la
                  idea de ayudar a la gente, juntando en un solo sitio, información, noticias y un foro para debatir sobre el cambio climático.</p>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('..\\static\\img\\7.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h2 class="display-6 lh-1 fw-bold">Donaciones</h2>
                <p class="mt-5 display-6 lh-1 fw-bold fs-4">Para que podamos seguir funcionando,
                  ayudanos...</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('..\\static\\img\\5.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="display-6 lh-1 fw-bold">Contactanos</h2>
                <ul class="mt-5 display-6 lh-1 fw-bold fs-4"> 
                  <li> <a href="mailto:francisco.dominguezm@usm.cl" class="link-light">Francisco Domínguez</a> </li>
                  <li> <a href="mailto:sebastian.arrieta@usm.cl" class="link-light">Sebastian Arrieta</a> </li>
                  <li> <a href="mailto:carlos.espinozar@usm.cl" class="link-light">Carlos Espinoza</a> </li>
                  <li> <a href="mailto:daniel.zeballos@usm.cl" class="link-light">Daniel Zeballos</a> </li>
                </ul>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('..\\static\\img\\foto2.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="display-6 lh-1 fw-bold">Herramientas Utilizadas</h2>
                <ul class="mt-5 display-6 lh-1 fw-bold fs-4">
                  <li>Django</li>
                  <li>Sqlite3</li>
                  <li>Html</li>
                  <li>CSS</li>
                  <li>Bootstrap</li>
                </ul>
              </div>
            </div>
          </div>
    
        </div>
      </div>

</body>
{% endblock %}