<html>
<head>
   
   {% load static %}
   <link rel="Stylesheet" type="text/css" href="{% static 'css/noticias.css' %}" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display&family=Francois+One&family=Oswald:wght@500&family=Raleway&display=swap" rel="stylesheet">
</head>
<title>
   {% block title %} {% endblock %}
</title>

<style >
   *{
      margin: 0px;
      padding: 0px
   }
   #Barra{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin:0;
      padding: 10px 0px;
      list-style: none;
      text-transform: uppercase;
   }
   #barra li{
      font-family: 'Oswald', sans-serif;
      margin: 0 60px;
   }

   #barra a{
      text-decoration: none;
   }

   #barra li:hover{
      color:rgb(255, 0, 0);
      transition: 0.3s;
   }
</style>


<body>
   <h1 style='background-color: red;color: white; text-align: center; margin: 0px; padding: 8px'> {% block seccion %} {% endblock%} </h1>
<ul id='barra'>
   <li> <a href="{% url 'inicio' %}">Inicio</a></li>
   <li> <a href= "{% url 'noticias' %}">Noticias</a></li>
   <li> <a href="{% url 'foros' %}">Foros</a></li>
   <li> <a href="{% url 'info' %}">Informacion</a></li>
   <li> <a href="{% url 'acerca' %}">Acerca De</a></li>
</ul>   

{% block content %}{% endblock %}

</body>  
</html>