{% extends 'base.html' %} {% load static %} {% block cssBlock %}
<link rel="Stylesheet" type="text/css" href="{% static 'css/Foro.css' %}" />{% endblock %} {% block title %} Foros {% endblock %} {% block seccion %} FOROS {% endblock %} {% block content %}

<div class="d-flex flex-column TitleWrapper">
    <h2 class="text-center">FOROS</h2>
    <p class="text-center">En esta secciòn se dispone de un foro que permite a la comunidad de Warming Axis a compartir sus ideas y opiniones sobre las noticias publicadas diariamente sobre el cambio climático.</p>
</div>

<div class="container ChatWrapper">
    <h3>FOROS DISPONIBLES</h3>
    {% if error  %}
        <div class = "error">
            <p>Error cargando los artículos intente de nuevo mas tarde.</p>
        </div>
    {% else %}
    <div class="d-flex flex-row">
        {% for i in articles%}
        <div class="card col ChatCard">
            <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="">Fuente: <strong>{{i.name}}</strong></p>
            </div>
            <button class="btn btn-danger" onclick="reset('{{i.id}}', 'http://prueba.com/article{{i.id}}/', 'Article Title {{i.id}}', 'es');">Abrir foro {{i.id}}</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <h3 id="Open">FORO GENERAL ABIERTO</h3>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'pruebaforo-1';
    var disqus_identifier = 'newidinicio';
    var disqus_url = 'https://pruebaforo-1.disqus.com/embed.js';
    var disqus_config = function() {
        this.language = "es";
    };

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

    /* * * Disqus Reset Function * * */
    var reset = function(newIdentifier, newUrl, newTitle, newLanguage) {
        const open = document.querySelector("#Open");
        open.innerHTML = `FORO ${newIdentifier} ABIERTO`;

        DISQUS.reset({
            reload: true,
            config: function() {
                this.page.identifier = "newid" + newIdentifier;
                this.page.url = newUrl;
                this.page.title = newTitle;
                this.language = newLanguage;
            }
        });
    };
</script>
{% endblock %}