{% extends "base.html" %} {% block title %} Noticias {% endblock %} {% block extra_head %} {% endblock %} {% block seccion %} NOTICIAS {% endblock %} {% block content %}
<div class="mainBlock">
    {% for i in articles%}
    <div class="newsBlock">
        <h3>{{i.title}}</h3>

        <div class="newsIMG">
            <img src="{{i.urlToImage}}" />
        </div>

        <p>{{i.description}}</p>

        <div class="Links">
            <a href="{{i.url}}">go to {{i.name}}</a>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock%}