{% extends "base.html" %} 
{% load static %}
{% block cssBlock %} <link rel="Stylesheet" type="text/css" href="{% static 'css/Noticias.css' %}" /> {% endblock %}
{% block title %} Noticias {% endblock %} 
{% block extra_head %} {% endblock %} 
{% block seccion %} NOTICIAS {% endblock %} 
{% block content %}
<body id=fondo>
    <main class="container">
        {% if error  %}
        <div class = "error">
            <h3>Error cargando los artículos intente de nuevo mas tarde.</h3>
        </div>
        {% else %}
        <div class="row align-items-center">
            {% for i in articles%}
            <div class="col">
                <div class="card text-center mx-auto align-middle w-100 p-3 mt-5 h-100" style="width: 22rem;">
                    <div class="newsIMG">
                        <img src="{{i.urlToImage}}" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{i.title}}</h5>
                        <p class="card-text">{{i.description}}</p>
                        <a href="{{i.url}}" class="btn btn-primary stretched-link" target="_blank">Leer más en {{i.name}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </main>
<body>
{% endblock%}
